# Funções Lambda

## Diferenças entre Funções "Padrão" (Normais) e Funções Lambda

### Funções padrão

* Utilizada muitas vezes
* Muitas linhas de código
* Somente nomeada
* Nenhum ou muitos parâmetros
* Nenhum ou muitos retornos

### Funções Lambda

* Utilizada uma única vez
* Definição em uma linha
* Nomeada ou Anônima
* Nenhum ou muitos parâmetros
* Um ou muitos retornos

## As funções _lambda_ são conhecidas por diversos nomes, como:

* _Lambda Expressions_
* _Anonymous Functions_
* _Lambda Abstractions_
* _Lambda Form_
* _Functions Literals_

As funções _lambda_ são _one line expression_, ou seja, expressões de uma linha, mesmo que separadas em várias linhas diferentes.

__CURIOSIDADE__ : as funções _lambda_ são normalmente chamadas de __IIFE__ (_immediately invoked function execution_), ou numa tradução direta para o português __EIFI__ (_execução imediata de função invocada_).

## Não pode conter outros comandos (statements)

Nas funções _lambda_, diferentemente das convencionais, não é possível utilizar comnandos como:

* _return_
* _pass_
* _assert_
* _raise_

Ao tentar utilizá-los, você receberá um __SYNTAX ERROR__.

In [ ]:
print(lambda txt: return txt.upper())

SyntaxError: ignored

## Passagem de parâmetros

Podemos passar parâmetros para as funções _lambda_ de diferentes formas, assim como fazemos com as funções "normais". Veja a seguir:

* parâmetros posicionais
* parâmetros nomeados
* parâmetros em lista de tamanho variável (__*args__)
* parâmetros em lista de tamanho variável nomeado (__**kwargs__)

## Olhando na prática as funções

### FUNÇÃO PADRÃO

```
def minha_funcao(numero1, numero2, numero3):
  soma = numero1 + numero2 + numero3
  return soma
```

### FUNÇÃO LAMBDA

```
lambda numero1, numero2, numero3: numero1 + numero2 + numero3
```

#### Outros exemplos

```
lambda numero1, numero2, numero3 : numero1 ** 2 + numero2 + (numero3 % 2)
```

```
lambda numero : numero % 2 == 0
```

### PARÂMETROS

#### Posicionais

In [ ]:
func_soma = lambda x, y : x + y
print(func_soma(3, 4))

7

#### Nomeados

In [ ]:
func_soma = lambda x, y : x + y
print(func_soma(x=3, y=4))

7

In [ ]:
func_soma = lambda x, y: x + y
print(func_soma(3, y=4))

7

#### Lista de tamanho variável (__*args__)

In [25]:
func_soma = lambda *args: sum(*args)
print(func_soma([46, 44, 25, 11]))

126

#### Lista de tamanho variável (__**kwargs__)

In [26]:
func_soma = lambda **kwargs: sum(kwargs.values())
print(func_soma(c=44, g=25, b=11))

80

## Mas, utilizar função _lambda_ é uma boa prática?

A utlização dessa estrutura divide opiniões na comunidade __Python__ e não vale a pena entrar nessa discussão. 

As funções _lambda_ serão muito úteis neste módulo, onde as usaremos em conjunto com os métodos `apply`, `map`, `filter` e `reduce`, por exemplo. Veremos os 3 últimos métodos ainda nesta aula.

__VALE LEMBRAR__ : mantenha seu código, sempre, de fácil leitura. Se for melhor utilizar uma função normal, FAÇA! Mas, se fizer mais sentido o uso da função _lambda_, não hesite em utilizá-la. 

__*Pratique para se habituar a sintaxe*__

Ordenando uma lista de strings pela primeira letra e em ordem crescente

In [ ]:
nomes = ['Davi', 'Pedro', 'Lucas']

nomes.sort()
nomes

['Davi', 'Lucas', 'Pedro']

Pegando a 2ª letra da primeira string da lista

In [ ]:
nomes[0][1]

'a'

Ordenando a lista de strings pela 2ª letra

In [ ]:
nomes.sort(key=lambda letra: letra[1])
nomes

['Davi', 'Pedro', 'Lucas']

## Onde as funções _lambda_ são úteis?

* funções lambda são úteis como pequenas funções de linha única 'descartáveis'
* elas geralmente são úteis para permitir cálculos rápidos ou processamento como entrada para outras funções
* elas podem tornar o código mais fácil de ler se forem usados adequadamente

In [ ]:
# Definição da função padrão
def segunda_letra(lista):
  return lista[1]

In [ ]:
# Exemplo
nomes = ['Rafael', 'Amanda', 'Cintha', 'Fernanda', 'Suzy']

In [ ]:
nomes.sort(key=segunda_letra)
nomes

['Rafael', 'Fernanda', 'Cintha', 'Amanda', 'Suzy']

In [ ]:
# Aplicação da função lambda
nomes.sort(key=lambda lista: lista[1])
nomes

['Rafael', 'Fernanda', 'Cintha', 'Amanda', 'Suzy']

In [ ]:
lambda x, y: x + y

In [ ]:
(lambda x, y: x + y)(3, 4)

7

Podemos armazenar a função _lambda_ e usá-la em mais de um contexto.

Vamos utilizar a expressão acima `lambda x, y: x + y`

In [ ]:
func_soma = lambda x, y: x + y

In [ ]:
func_soma(3, 4)

7

In [ ]:
func_soma(10, 5)

15

In [ ]:
(lambda : 'Hey!')()

'Hey!'

### O real poder das expressões _lambda_

Em conjunto com outras funções como `map`, `filter` e `reduce`, as expressões _lambda_ mostram toda sua utilidade e valor.

#### map( )

A função `map()` serve para aplicarmos uma função a cada elemento de um iterável passado como argumento para esta função.

__SINTAXE__

`map(funcao_aplicada, iterável)`

In [ ]:
list(map(lambda x: x + 10, range(10)))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
items = [1, 2, 3]
dobro = list(map(lambda x: x * 2, items))
print(dobro)

[2, 4, 6]

__ATENÇÃO!__

Fazemos o _casting_ para lista para que seja retornada uma lista, senão a _função map_ retornará um _map object_.

Ex: `<map at 0x7efcea12d5d0>`

In [ ]:
map(lambda x: x * 2, range(10))

#### map( ) com dicionários

In [ ]:
pessoas = [
           {
               'nome': 'Rafael',
               'idade': 46
           },
           {
               'nome': 'Gustavo',
               'idade': 25
           },
           {
               'nome': 'Willian',
               'idade': 22
           }
]

list(map(lambda menor_30: menor_30['idade'] < 30, pessoas))

[False, True, True]

In [ ]:
# Trabalhando com o If para retornar o nome
list(map(lambda menor_30: menor_30['nome'] if menor_30['idade'] < 30 else '', pessoas))

['', 'Gustavo', 'Willian']

#### filter( )

Esta função tem o nome __autoexplicativo__, e basicamente, filtra os elementos passados na função, de acordo com a função passada como primeiro argumento.

__SINTAXE__

`filter(funcao_aplicada, iterável)`

Vamos utilizar o exemplo anterior substituindo `map` por `filter`

In [ ]:
list(filter(lambda menor_30: menor_30['idade'] < 30, pessoas))

[{'idade': 25, 'nome': 'Gustavo'}, {'idade': 22, 'nome': 'Willian'}]

In [27]:
list(map(lambda pessoa: pessoa['nome'], list(filter(lambda menor_30: menor_30['idade'] < 30, pessoas))))

['Gustavo', 'Willian']

In [ ]:
# Através de list comprehension
[x['nome'] for x in pessoas if x['idade'] < 30]

['Gustavo', 'Willian']

In [ ]:
for x in pessoas:
  if x['idade'] < 30:
    print(x['nome'])

Gustavo
Willian

#### reduce( )

Esta é uma outra função nativa do __Python__ que aplica uma função em todos os valores passados em forma de lista e retorna apenas um valor

__SINTAXE__

`reduce(funcao_aplicada, iterável)`

__DICA__ 

_reduce_ faz parte da lib _functools_, ou seja, precisamos importar esta biblioteca antes de utilizá-la. 

Esta mudança ocorreu, tirando _reduce_ do core do __python__ na versão 3.

In [ ]:
# Exemplo

from functools import reduce

soma = reduce(lambda x, y: x + y, [1, 2, 3, 4])

print(soma)

10

Determinando maior número de uma lista

In [ ]:
numeros = [12, 43, 3224, 3, 123, 483, 999, 13, 44, 1000]
maior = reduce(lambda x, y: x if x > y else y, numeros)
print(f'Maior número da lista: {maior}')

Maior número da lista: 3224

In [ ]:
max(numeros)

3224

No exemplo acima, a condicional __if__ foi utlizada em conjunto com a função _lambda_.

Entendendo o uso do __if__:

Depois dos parâmetros x e y, colocamos o resultado que satisfaz a condição do if no lado esquerdo, e após o else o resultado que desejamos se a condição for falsa.

## Hora de Praticar!

1. Retornar uma lista de valores pares de 1 à 20
2. Retornar uma lista de valores ímpares de 30 à 50
3. Retornar todos os números menores que zero do intervalo range(-10, 10)
4. Retornar o menor número de uma lista
5. Colocar todos os nomes de uma lista de nomes com a primeira letra em maiúscula
6. Ordernar a lista de nomes pela 2ª letra de cada nome (ordem crescente)
7. Ordernar a lista de nomes pela 2ª letra de cada nome (ordem decrescente)
8. Diante de uma lista de números, multiplicar por 10 se o número for par e dividir por 3 se o número for ímpar

### Gabarito

1. Retornar uma lista de valores pares de 1 à 20

In [28]:
numeros = [ num for num in range(1, 21)]
list(filter(lambda num: num % 2 == 0, numeros))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

2. Retornar uma lista de valores ímpares de 30 à 50

In [29]:
numeros = [ num for num in range(30, 51)]
list(filter(lambda num: num % 2 == 1, numeros))

[31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

3. Retornar todos os números menores que zero do intervalo range(-10, 10)

In [30]:
numeros = [ num for num in range(-10, 10)]
list(filter(lambda num: num < 0, numeros))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

4. Retornar o menor número de uma lista

In [33]:
from functools import reduce

numeros = [ num for num in range(1, 11)]
reduce(lambda x, y: x if x < y else y, numeros)

1

5. Colocar todos os nomes de uma lista de nomes com a primeira letra em maiúscula

In [34]:
nomes = ['rafael', 'denise', 'beatriz', 'marcus']
list(map(lambda nome: nome.title(), nomes))

['Rafael', 'Denise', 'Beatriz', 'Marcus']

6. Ordernar a lista de nomes pela 2ª letra de cada nome (ordem crescente)

In [37]:
nomes = ['rafael', 'denise', 'beatriz', 'marcus']
nomes.sort(key=lambda nome: nome[1])
nomes

['rafael', 'marcus', 'denise', 'beatriz']

7. Ordernar a lista de nomes pela 2ª letra de cada nome (ordem decrescente)

In [38]:
nomes = ['rafael', 'denise', 'beatriz', 'marcus']
nomes.sort(key=lambda nome: nome[1], reverse=True)
nomes

['denise', 'beatriz', 'rafael', 'marcus']

8. Diante de uma lista de números, multiplicar por 10 se o número for par e dividir por 3 se o número for ímpar

In [40]:
# Utilizei a função round() para limitar à duas casas decimais

numeros = [ num for num in range(1, 11)]
list(map(lambda num: num * 10 if num % 2 == 0 else round(num / 3, 2), numeros))

[0.33, 20, 1.0, 40, 1.67, 60, 2.33, 80, 3.0, 100]